.menu {
  background-color: $mainColor;

  &__content {
    height: 100vh;
  }

  @include onDesktop {
    display: none;
  }

  &__top {
    margin-bottom: 20px;

    @include onTablet {
      margin-bottom: 64px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

  }

  &__item {
    margin-bottom: 40px;
    border-bottom: 1px solid $secondTextColor;
    text-align: center;

    transition: transform 0.3s;

    &:hover {
      transform: scale(1.5);
    }

    @include onTablet {
      margin-bottom: 60px;
    }
  }

  &__link {
    padding-bottom: 10px;
    font-family: inherit;
    font-weight: bold;
    font-size: 18px;
    line-height: 130%;
    color: $footerTextColor;
    text-decoration: none;
  }
}
