$mainColor: #333;
$secondTextColor: #828282;
$acsentColor: #344f10;
$buttonTextColor: #f2f2f2;
$lineColor: #bdbdbd;
$footerTextColor: #e4dfd3;
$footerColor: #8c9772;

$backgroundColor: #e5e5e5;

$transition: all 0.3s ease-in;
